* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
}

body {
    font-size: 1.6rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #003;
    padding-top: 30px;
    color: white;
    text-align: center;
}

@media screen and (max-width: 600px) {
    body {
        padding: 10px 0;
    }
}
